# Data Understanding

We will make use of the datasets from Zindi, which is the largest professional network for data scientists in Africa.In particular we will be focusing on  3 different datasets for both train and test.

> a) Demographic data
* customerid(primary key)
* birthdate (date of birth of the customer)
* bank_account_type (type of primary bank account)
* latitude_gps / longitude_gps
* bank_name_clients (name of the bank)
* bank_branch_clients(location of the branch)
* employment_status_clients
* level_of_education_clients (highest level of education)

> b) Perfomance data
* customerid(primary key)
* systemloanid(id associated with the particular loan)
* loannumber(number of loan we are predicting)
* approveddate(date loan was approved)
* loan amount
* totaldue
* termdays
* refferedby
* good_bad_flag(good = settled loan on time; bad = did not settled loan on time)

> c) Previous loans data
* customerid
* systemloanid
* loannumber(the number of the loan that we will predict)
* approveddate
* creationdate(date the loan was created)
* loanamount
* totaldue
* closeddate
* refferedby
* firstduedate
* firstpaiddate

## Importing Libraries

In [183]:
# Basic data manipultion and analysis
import pandas as pd
import numpy as np

In [184]:
# Loading the datasets
train_demographics = pd.read_csv("traindemographics.csv")
train_perf = pd.read_csv("trainperf.csv")
train_prev_loans = pd.read_csv("trainprevloans.csv")
test_demographics = pd.read_csv("testdemographics.csv")
test_perf = pd.read_csv("testperf.csv")
test_prev_loans = pd.read_csv("testprevloans.csv")

In [185]:
#viewing the dataset info
train_prev_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18183 entries, 0 to 18182
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerid       18183 non-null  object
 1   systemloanid     18183 non-null  int64
 2   loannumber       18183 non-null  int64
 3   approveddate     18183 non-null  object
 4   creationdate     18183 non-null  object
 5   loanamount       18183 non-null  float64
 6   totaldue         18183 non-null  float64
 7   termdays         18183 non-null  int64
 8   closeddate       18183 non-null  object
 9   referredby       1026 non-null   object
 10  firstduedate     18183 non-null  object
 11  firstrepaiddate  18183 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 1.7+ MB

In [186]:
#describing the dataset
test_prev_loans.describe(include='all')

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,closeddate,referredby,firstduedate,firstrepaiddate
count,5907,5.907000e+03,5907.000000,5907,5907,5907.000000,5907.000000,5907.000000,5907,325,5907,5907
unique,1442,NaN,NaN,5905,5903,NaN,NaN,NaN,5886,176,356,5887
top,8a858ff554e290e10154fe4e6b3f648c,NaN,NaN,2017-05-24 18:00:34.000000,2016-11-11 18:32:20.000000,NaN,NaN,NaN,2017-07-25 05:45:01.000000,8a858f5a57519e48015774cfff892e8d,2017-07-03 00:00:00.000000,2017-06-13 00:00:00.000000
freq,33,NaN,NaN,2,2,NaN,NaN,NaN,2,7,126,4
mean,NaN,3.018374e+08,4.194176,NaN,NaN,16271.711529,19334.173421,26.762316,NaN,NaN,NaN,NaN
std,NaN,9.552391e+04,3.406739,NaN,NaN,9280.598734,10369.677671,10.593658,NaN,NaN,NaN,NaN
min,NaN,3.016001e+08,1.000000,NaN,NaN,1000.000000,1112.500000,15.000000,NaN,NaN,NaN,NaN
25%,NaN,3.017736e+08,2.000000,NaN,NaN,10000.000000,11500.000000,15.000000,NaN,NaN,NaN,NaN
50%,NaN,3.018547e+08,3.000000,NaN,NaN,10000.000000,13000.000000,30.000000,NaN,NaN,NaN,NaN
75%,NaN,3.019191e+08,6.000000,NaN,NaN,20000.000000,24500.000000,30.000000,NaN,NaN,NaN,NaN
max,NaN,3.020018e+08,33.000000,NaN,NaN,60000.000000,62700.000000,90.000000,NaN,NaN,NaN,NaN

In [187]:
train_demographics.describe(include='all')

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients
count,4346,4346,4346,4346.000000,4346.000000,4346,51,3698,587
unique,4334,3297,3,NaN,NaN,18,45,6,4
top,8a858fca5c35df2c015c39ad8695343e,10/19/83,Savings,NaN,NaN,GT Bank,OGBA,Permanent,Graduate
freq,2,5,3425,NaN,NaN,1598,3,3146,420
mean,NaN,NaN,NaN,4.626189,7.251356,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,7.184832,3.055052,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,-118.247009,-33.868818,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,3.354953,6.470610,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,3.593302,6.621888,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,6.545220,7.425052,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,151.209290,71.228069,NaN,NaN,NaN,NaN

In [188]:
train_demographics.describe(include='all')

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients
count,4346,4346,4346,4346.000000,4346.000000,4346,51,3698,587
unique,4334,3297,3,NaN,NaN,18,45,6,4
top,8a858fca5c35df2c015c39ad8695343e,10/19/83,Savings,NaN,NaN,GT Bank,OGBA,Permanent,Graduate
freq,2,5,3425,NaN,NaN,1598,3,3146,420
mean,NaN,NaN,NaN,4.626189,7.251356,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,7.184832,3.055052,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,-118.247009,-33.868818,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,3.354953,6.470610,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,3.593302,6.621888,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,6.545220,7.425052,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,151.209290,71.228069,NaN,NaN,NaN,NaN

In [189]:
train_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerid     4368 non-null   object
 1   systemloanid   4368 non-null   int64
 2   loannumber     4368 non-null   int64
 3   approveddate   4368 non-null   object
 4   creationdate   4368 non-null   object
 5   loanamount     4368 non-null   int64
 6   totaldue       4368 non-null   float64
 7   termdays       4368 non-null   int64
 8   referredby     587 non-null    object
 9   good_bad_flag  4368 non-null   object
dtypes: float64(1), int64(4), object(5)
memory usage: 341.4+ KB

In [190]:
test_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customerid    1450 non-null   object
 1   systemloanid  1450 non-null   int64
 2   loannumber    1450 non-null   int64
 3   approveddate  1450 non-null   object
 4   creationdate  1450 non-null   object
 5   loanamount    1450 non-null   int64
 6   totaldue      1450 non-null   float64
 7   termdays      1450 non-null   int64
 8   referredby    184 non-null    object
dtypes: float64(1), int64(4), object(4)
memory usage: 102.1+ KB

### Merging the train data

In [191]:
#checking the shapes of the train data
print (train_demographics.shape)
print (train_perf. shape)
print (train_prev_loans.shape)

(4346, 9)
(4368, 10)
(18183, 12)

#### The `trainperf` and `train_prev_loans` have same columns names. The columns names are renamed by adding `.perf` and `.prev`

In [192]:
columns_to_update = ['systemloanid', 'loannumber', 'approveddate', 'creationdate', 'loanamount', 'totaldue', 'termdays', 'referredby']
train_perf.columns = [col + '.perf' if col in columns_to_update else col for col in train_perf.columns]

train_prev_loans.columns = [col + '.prev' if col in columns_to_update else col for col in train_prev_loans.columns]
print (train_perf. columns)
print(train_prev_loans.columns)

Index(['customerid', 'systemloanid.perf', 'loannumber.perf',
       'approveddate.perf', 'creationdate.perf', 'loanamount.perf',
       'totaldue.perf', 'termdays.perf', 'referredby.perf', 'good_bad_flag'],
      dtype='object')
Index(['customerid', 'systemloanid.prev', 'loannumber.prev',
       'approveddate.prev', 'creationdate.prev', 'loanamount.prev',
       'totaldue.prev', 'termdays.prev', 'closeddate', 'referredby.prev',
       'firstduedate', 'firstrepaiddate'],
      dtype='object')

In [193]:
# Merging the training data using customer id as the key value
train_data = pd.merge(train_prev_loans, train_demographics, on='customerid', how='left')
merged_data = pd.merge(train_data, train_perf, on='customerid', how='left')
merged_data.shape

(18203, 29)

In [194]:
merged_data.columns

Index(['customerid', 'systemloanid.prev', 'loannumber.prev',
       'approveddate.prev', 'creationdate.prev', 'loanamount.prev',
       'totaldue.prev', 'termdays.prev', 'closeddate', 'referredby.prev',
       'firstduedate', 'firstrepaiddate', 'birthdate', 'bank_account_type',
       'longitude_gps', 'latitude_gps', 'bank_name_clients',
       'bank_branch_clients', 'employment_status_clients',
       'level_of_education_clients', 'systemloanid.perf', 'loannumber.perf',
       'approveddate.perf', 'creationdate.perf', 'loanamount.perf',
       'totaldue.perf', 'termdays.perf', 'referredby.perf', 'good_bad_flag'],
      dtype='object')

In [195]:
merged_data

,customerid,systemloanid.prev,loannumber.prev,approveddate.prev,creationdate.prev,loanamount.prev,totaldue.prev,termdays.prev,closeddate,referredby.prev,...,level_of_education_clients,systemloanid.perf,loannumber.perf,approveddate.perf,creationdate.perf,loanamount.perf,totaldue.perf,termdays.perf,referredby.perf,good_bad_flag
0,8a2a81a74ce8c05d014cfb32a0da1049,301682320,2,2016-08-15 18:22:40.000000,2016-08-15 17:22:32.000000,10000.0,13000.0,30,2016-09-01 16:06:48.000000,NaN,...,Post-Graduate,301994762,12,22:56.0,22:47.0,30000,34500.0,30,NaN,Good
1,8a2a81a74ce8c05d014cfb32a0da1049,301883808,9,2017-04-28 18:39:07.000000,2017-04-28 17:38:53.000000,10000.0,13000.0,30,2017-05-28 14:44:49.000000,NaN,...,Post-Graduate,301994762,12,22:56.0,22:47.0,30000,34500.0,30,NaN,Good
2,8a2a81a74ce8c05d014cfb32a0da1049,301831714,8,2017-03-05 10:56:25.000000,2017-03-05 09:56:19.000000,20000.0,23800.0,30,2017-04-26 22:18:56.000000,NaN,...,Post-Graduate,301994762,12,22:56.0,22:47.0,30000,34500.0,30,NaN,Good
3,8a8588f35438fe12015444567666018e,301861541,5,2017-04-09 18:25:55.000000,2017-04-09 17:25:42.000000,10000.0,11500.0,15,2017-04-24 01:35:52.000000,NaN,...,NaN,301966580,7,52:57.0,52:51.0,20000,22250.0,15,NaN,Good
4,8a85890754145ace015429211b513e16,301941754,2,2017-06-17 09:29:57.000000,2017-06-17 08:29:50.000000,10000.0,11500.0,15,2017-07-14 21:18:43.000000,NaN,...,NaN,301999343,3,00:41.0,00:35.0,10000,11500.0,15,NaN,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18198,8a858899538ddb8e0153a2b555421fc5,301611754,2,2016-04-16 13:36:34.000000,2016-04-16 12:36:28.000000,10000.0,13000.0,30,2016-05-14 00:04:52.000000,NaN,...,Graduate,301971504,14,58:41.0,57:31.0,30000,33000.0,30,NaN,Bad
18199,8a858899538ddb8e0153a2b555421fc5,301761267,9,2016-11-18 14:26:07.000000,2016-11-18 13:25:51.000000,30000.0,34400.0,30,2016-12-13 16:08:57.000000,NaN,...,Graduate,301971504,14,58:41.0,57:31.0,30000,33000.0,30,NaN,Bad
18200,8a858899538ddb8e0153a2b555421fc5,301631653,4,2016-06-12 15:30:56.000000,2016-06-12 14:30:50.000000,10000.0,13000.0,30,2016-07-09 15:39:00.000000,NaN,...,Graduate,301971504,14,58:41.0,57:31.0,30000,33000.0,30,NaN,Bad
18201,8a858f0656b7820c0156c92ca3ba436f,301697691,1,2016-08-27 20:03:45.000000,2016-08-27 19:03:34.000000,10000.0,13000.0,30,2016-10-15 10:17:54.000000,NaN,...,NaN,301996908,2,48:14.0,46:58.0,10000,13000.0,30,NaN,Bad
18202,8a858faf5679a838015688de3028143d,301715255,2,2016-09-14 23:42:14.000000,2016-09-14 22:42:05.000000,10000.0,13000.0,30,2016-09-29 19:51:04.000000,NaN,...,NaN,301964167,3,27:02.0,26:45.0,20000,24500.0,30,NaN,Bad

## Test Data

In [196]:
#test shape
print (test_demographics.shape)
print (test_perf. shape)
print (test_prev_loans.shape)

(1487, 9)
(1450, 9)
(5907, 12)

In [197]:
# Merging the testing data
testing_data = pd.merge(test_prev_loans, test_demographics, on='customerid', how='left')
test_data = pd.merge(testing_data, test_perf, on='customerid', how='left')
test_data.shape

(5907, 28)

In [198]:
test_data

,customerid,systemloanid_x,loannumber_x,approveddate_x,creationdate_x,loanamount_x,totaldue_x,termdays_x,closeddate,referredby_x,...,employment_status_clients,level_of_education_clients,systemloanid_y,loannumber_y,approveddate_y,creationdate_y,loanamount_y,totaldue_y,termdays_y,referredby_y
0,8a858899538ddb8e015390510b321f08,301621635,3,2016-05-17 10:37:00.000000,2016-05-17 09:36:55.000000,10000.0,13000.0,30,2016-06-17 00:04:15.000000,NaN,...,NaN,NaN,301998974,4,40:48.0,39:35.0,10000,12250.0,30,NaN
1,8a858959537a097401537a4e316e25f7,301810201,5,2017-02-04 21:28:59.000000,2017-02-04 20:28:52.000000,30000.0,36800.0,60,2017-03-02 16:22:58.000000,NaN,...,NaN,NaN,301963615,10,43:40.0,42:34.0,40000,44000.0,30,NaN
2,8a858959537a097401537a4e316e25f7,301831255,6,2017-03-04 10:28:22.000000,2017-03-04 09:28:16.000000,30000.0,34400.0,30,2017-04-02 00:44:24.000000,NaN,...,NaN,NaN,301963615,10,43:40.0,42:34.0,40000,44000.0,30,NaN
3,8a8589c253ace09b0153af6ba58f1f31,301627292,3,2016-06-02 14:27:14.000000,2016-06-02 13:27:08.000000,10000.0,13000.0,30,2016-07-04 11:34:04.000000,NaN,...,Permanent,NaN,301982236,6,15:11.0,15:04.0,20000,24500.0,30,NaN
4,8a8589c253ace09b0153af6ba58f1f31,301621095,2,2016-05-16 09:13:12.000000,2016-05-16 08:13:04.000000,10000.0,11500.0,15,2016-06-02 00:02:58.000000,NaN,...,Permanent,NaN,301982236,6,15:11.0,15:04.0,20000,24500.0,30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5902,8a858f085b494826015b54a0b2a1093b,301861709,1,2017-04-09 23:04:32.000000,2017-04-09 22:04:10.000000,10000.0,13000.0,30,2017-05-02 22:27:03.000000,8a858e4f5929c3df0159420645f46f55,...,NaN,NaN,301958882,4,21:10.0,21:04.0,20000,24500.0,30,8a858e4f5929c3df0159420645f46f55
5903,8a858f565b683b56015b7391c2617960,301869817,1,2017-04-15 23:33:17.000000,2017-04-15 22:33:05.000000,10000.0,11500.0,15,2017-04-25 19:32:42.000000,NaN,...,NaN,NaN,301978934,3,30:57.0,29:45.0,10000,11500.0,15,NaN
5904,8a858fab5b9105dc015b975e594e394a,301952446,1,2017-06-26 15:46:28.000000,2017-06-26 14:45:20.000000,10000.0,13000.0,30,2017-07-13 13:12:43.000000,NaN,...,NaN,NaN,301976435,2,35:44.0,35:38.0,10000,13000.0,30,NaN
5905,8a858fcf5b39c3ba015b39c7691603e1,301887884,2,2017-05-03 06:56:10.000000,2017-05-03 05:56:04.000000,10000.0,13000.0,30,2017-06-01 22:00:17.000000,NaN,...,NaN,NaN,301959556,4,01:39.0,01:33.0,20000,24500.0,30,NaN
5906,8a858e165cf9d8e3015cfffb0c61459f,301959483,1,2017-07-01 22:23:15.000000,2017-07-01 21:22:08.000000,10000.0,13000.0,30,2017-07-29 14:25:20.000000,NaN,...,Permanent,NaN,302002268,2,25:59.0,25:53.0,10000,13000.0,30,NaN

In [199]:
test_data.columns

Index(['customerid', 'systemloanid_x', 'loannumber_x', 'approveddate_x',
       'creationdate_x', 'loanamount_x', 'totaldue_x', 'termdays_x',
       'closeddate', 'referredby_x', 'firstduedate', 'firstrepaiddate',
       'birthdate', 'bank_account_type', 'longitude_gps', 'latitude_gps',
       'bank_name_clients', 'bank_branch_clients', 'employment_status_clients',
       'level_of_education_clients', 'systemloanid_y', 'loannumber_y',
       'approveddate_y', 'creationdate_y', 'loanamount_y', 'totaldue_y',
       'termdays_y', 'referredby_y'],
      dtype='object')

In [200]:
test_data.shape

(5907, 28)

# Data Cleaning 
* This section checks for missing values, placeholders, duplicates and data consistency

#### Checking for Missing Values

In [201]:
#Check for missing values in each column
missing_values = merged_data.isnull().sum()

# Calculate the percentage of missing values
percentage_missing_values = (missing_values / len(merged_data)) * 100

# Create a DataFrame to display missing values and percentages
missing_data_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': percentage_missing_values
})

# Sort the DataFrame by 'Percentage' column in descending order
sorted_missing_data = missing_data_summary.sort_values(by='Percentage', ascending=False)

print("Missing values summary sorted by percentage in descending order:")
print(sorted_missing_data)

Missing values summary sorted by percentage in descending order:
                            Missing Values  Percentage
bank_branch_clients                  18099   99.428666
referredby.prev                      17175   94.352579
referredby.perf                      17175   94.352579
level_of_education_clients           14739   80.970170
employment_status_clients             5873   32.263913
longitude_gps                         4510   24.776136
latitude_gps                          4510   24.776136
bank_account_type                     4510   24.776136
birthdate                             4510   24.776136
bank_name_clients                     4510   24.776136
systemloanid.perf                        0    0.000000
approveddate.perf                        0    0.000000
creationdate.perf                        0    0.000000
loanamount.perf                          0    0.000000
totaldue.perf                            0    0.000000
termdays.perf                            0    0.000000
loannumber.perf                          0    0.000000
customerid                               0    0.000000
systemloanid.prev                        0    0.000000
firstrepaiddate                          0    0.000000
firstduedate                             0    0.000000
closeddate                               0    0.000000
termdays.prev                            0    0.000000
totaldue.prev                            0    0.000000
loanamount.prev                          0    0.000000
creationdate.prev                        0    0.000000
approveddate.prev                        0    0.000000
loannumber.prev                          0    0.000000
good_bad_flag                            0    0.000000

* `bank_branch_clients`  and `referredby`   have 94% missing values hence they are dropped.   
*  Even though `level_of_education_clients`, `employment_status_clients ` , `longitude_gps` and                          
`latitude_gps`,  `bank_account_type` , `birthdate`, `bank_name_clients` have between 24% and 80% missing values, they are kept as they have important demographic information.

In [202]:
# Dropping columns with missing values as indicated above 
merged_data.drop(columns=['bank_branch_clients', 'referredby.prev', 'referredby.perf'], inplace=True)

In [203]:
merged_data.columns

Index(['customerid', 'systemloanid.prev', 'loannumber.prev',
       'approveddate.prev', 'creationdate.prev', 'loanamount.prev',
       'totaldue.prev', 'termdays.prev', 'closeddate', 'firstduedate',
       'firstrepaiddate', 'birthdate', 'bank_account_type', 'longitude_gps',
       'latitude_gps', 'bank_name_clients', 'employment_status_clients',
       'level_of_education_clients', 'systemloanid.perf', 'loannumber.perf',
       'approveddate.perf', 'creationdate.perf', 'loanamount.perf',
       'totaldue.perf', 'termdays.perf', 'good_bad_flag'],
      dtype='object')

### Check for  Row Duplicates

In [204]:
duplicates = merged_data.duplicated(keep=False).sum()
print("Number of duplicated rows in merged_data:", duplicates)

Number of duplicated rows in merged_data: 40

## Dropping duplicates

In [205]:
merged_data.drop_duplicates(inplace=True)

### Check for Data Consistency and Placeholders

In [206]:
for column in merged_data.columns:
        unique_values = merged_data[column].unique()
        placeholders = [value for value in unique_values if str(value).strip().lower() in ['placeholder', 'na', 'n/a', 'none']]
        placeholder_count = len(placeholders)    
        unique_value_counts = merged_data[column].value_counts()    
        print(f"Column: '{column}'")
        print(f"Unique value counts:")
        print(unique_value_counts)
        print()
        print(f"Placeholders:")
        print(placeholders)
        print(f"Count of placeholders: {placeholder_count}\n")

Column: 'customerid'
Unique value counts:
customerid
8a858f7d5578012a01557ea194d94948    26
8a858e4456ced8470156d73452f85335    22
8a858899538ddb8e0153a780c56e34bb    21
8a85886f54517ee0015470749d3c3ce7    21
8a858fe5569398920156a3a9a77b5d02    21
                                    ..
8a858f7e5c69a6e3015c779b5d6c03b8     1
8a858e165cf9d8e3015d072f06823b83     1
8a858e655b903189015b903875da03da     1
8a858f025bd49f21015bd8590bd83fe8     1
8a858f0656b7820c0156c92ca3ba436f     1
Name: count, Length: 4359, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'systemloanid.prev'
Unique value counts:
systemloanid.prev
301682320    1
301754669    1
301884544    1
301829670    1
301923724    1
            ..
301607463    1
301836166    1
301609879    1
301899120    1
301715255    1
Name: count, Length: 18183, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'loannumber.prev'
Unique value counts:
loannumber.prev
1     4344
2     2969
3     2300
4     1860
5     1535
6     1288
7     1036
8      817
9      637
10     446
11     333
12     223
13     146
14      96
15      54
16      33
17      19
18      16
19      10
20       8
21       7
22       2
24       1
23       1
25       1
26       1
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'approveddate.prev'
Unique value counts:
approveddate.prev
2017-04-20 14:00:44.000000    2
2016-06-07 22:49:34.000000    2
2017-06-18 17:01:41.000000    2
2016-10-28 13:00:44.000000    2
2017-06-10 15:41:37.000000    2
                             ..
2016-05-19 10:12:46.000000    1
2016-04-04 13:20:16.000000    1
2017-03-11 19:06:14.000000    1
2016-04-11 10:37:17.000000    1
2016-09-14 23:42:14.000000    1
Name: count, Length: 18172, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'creationdate.prev'
Unique value counts:
creationdate.prev
2017-06-12 10:38:36.000000    2
2017-01-16 15:59:00.000000    2
2017-06-05 08:47:53.000000    2
2017-06-14 06:13:21.000000    2
2017-05-15 08:38:25.000000    2
                             ..
2016-04-11 09:37:11.000000    1
2017-05-10 10:54:39.000000    1
2017-06-20 20:40:20.000000    1
2017-03-13 13:20:27.000000    1
2016-09-14 22:42:05.000000    1
Name: count, Length: 18173, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'loanamount.prev'
Unique value counts:
loanamount.prev
10000.0    10529
20000.0     3524
30000.0     2452
40000.0      867
15000.0      394
50000.0      106
25000.0      100
5000.0        95
8000.0        38
35000.0       27
6000.0        19
7000.0        11
9000.0         9
4000.0         5
60000.0        5
3000.0         2
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'totaldue.prev'
Unique value counts:
totaldue.prev
13000.0    5648
11500.0    4291
24500.0    1145
23800.0    1049
34400.0     893
           ...
18050.0       1
5200.0        1
3900.0        1
26250.0       1
10000.0       1
Name: count, Length: 97, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'termdays.prev'
Unique value counts:
termdays.prev
30    11045
15     6115
60      993
90       30
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'closeddate'
Unique value counts:
closeddate
2016-11-07 00:53:42.000000    5
2016-04-30 00:02:48.000000    4
2017-03-06 01:04:51.000000    4
2017-03-24 01:01:28.000000    4
2016-04-28 00:04:06.000000    4
                             ..
2016-08-05 11:49:40.000000    1
2017-02-09 19:24:03.000000    1
2017-07-07 15:39:30.000000    1
2017-03-31 09:46:45.000000    1
2016-09-29 19:51:04.000000    1
Name: count, Length: 17955, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'firstduedate'
Unique value counts:
firstduedate
2017-07-03 00:00:00.000000    398
2017-07-10 00:00:00.000000    387
2017-05-30 00:00:00.000000    319
2017-07-24 00:00:00.000000    317
2017-06-05 00:00:00.000000    298
                             ...
2016-05-17 00:00:00.000000      1
2016-03-03 00:00:00.000000      1
2016-02-15 00:00:00.000000      1
2016-04-05 00:00:00.000000      1
2016-03-02 00:00:00.000000      1
Name: count, Length: 363, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'firstrepaiddate'
Unique value counts:
firstrepaiddate
2016-08-04 00:00:00.000000    7
2016-09-06 00:00:00.000000    7
2016-08-03 00:00:00.000000    7
2017-05-31 00:00:00.000000    6
2016-09-14 00:00:00.000000    5
                             ..
2017-03-07 13:54:53.000000    1
2016-12-23 13:14:37.000000    1
2017-06-09 15:09:25.000000    1
2016-11-21 10:04:53.000000    1
2016-09-29 19:35:55.000000    1
Name: count, Length: 18011, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'birthdate'
Unique value counts:
birthdate
2/28/76     29
9/19/86     29
6/10/85     28
8/5/87      27
9/18/88     27
            ..
3/28/75      1
11/17/84     1
8/29/75      1
12/9/80      1
4/18/79      1
Name: count, Length: 2635, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'bank_account_type'
Unique value counts:
bank_account_type
Savings    8291
Other      5228
Current     154
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'longitude_gps'
Unique value counts:
longitude_gps
3.417977    30
7.408563    26
3.279897    25
3.835157    24
3.822144    22
            ..
3.383282     1
3.253177     1
7.487305     1
3.878903     1
7.530892     1
Name: count, Length: 3130, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'latitude_gps'
Unique value counts:
latitude_gps
6.441158     30
10.464973    26
7.421333     22
6.270371     21
6.663559     21
             ..
6.593218      1
8.468309      1
7.266843      1
7.423468      1
9.042928      1
Name: count, Length: 3252, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'bank_name_clients'
Unique value counts:
bank_name_clients
GT Bank               5028
First Bank            1932
Access Bank           1268
UBA                   1116
Diamond Bank           983
Zenith Bank            948
Stanbic IBTC           489
EcoBank                450
FCMB                   420
Skye Bank              271
Fidelity Bank          267
Sterling Bank          111
Wema Bank               88
Heritage Bank           87
Keystone Bank           83
Union Bank              74
Standard Chartered      44
Unity Bank              14
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'employment_status_clients'
Unique value counts:
employment_status_clients
Permanent        9118
Self-Employed    2319
Student           615
Unemployed        219
Retired            29
Contract           10
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'level_of_education_clients'
Unique value counts:
level_of_education_clients
Graduate         2508
Secondary         485
Post-Graduate     435
Primary            36
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'systemloanid.perf'
Unique value counts:
systemloanid.perf
301975421    26
301966344    22
301963724    21
301979680    21
301977626    21
             ..
301964429     1
301998978     1
301986090     1
301960783     1
301996908     1
Name: count, Length: 4359, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'loannumber.perf'
Unique value counts:
loannumber.perf
10    1718
8     1538
7     1512
9     1440
2     1386
3     1334
4     1321
5     1298
6     1226
12    1198
11    1130
13     936
14     649
15     588
16     300
17     239
19     108
22     105
18      51
20      38
27      26
23      22
21      20
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'approveddate.perf'
Unique value counts:
approveddate.perf
09:35.0    41
46:29.0    39
24:23.0    39
36:56.0    35
48:49.0    34
           ..
01:48.0     1
02:09.0     1
08:51.0     1
13:17.0     1
00:54.0     1
Name: count, Length: 2503, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'creationdate.perf'
Unique value counts:
creationdate.perf
55:03.0    44
13:23.0    43
51:16.0    40
46:12.0    37
26:18.0    36
           ..
09:31.0     1
05:27.0     1
38:52.0     1
25:54.0     1
02:41.0     1
Name: count, Length: 2532, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'loanamount.perf'
Unique value counts:
loanamount.perf
10000    4741
30000    4358
20000    3609
40000    3515
50000     998
15000     450
25000     257
60000     144
35000     100
45000      11
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'totaldue.perf'
Unique value counts:
totaldue.perf
34500.0    3059
13000.0    2881
24500.0    2577
44000.0    2326
11500.0    1378
48000.0    1125
39000.0     933
22250.0     512
52500.0     467
57500.0     311
55000.0     208
33000.0     207
23000.0     192
18375.0     164
11125.0     160
12250.0     139
27500.0     131
28750.0     126
22000.0     112
17250.0      98
36000.0      93
21000.0      89
16687.5      88
10750.0      77
38500.0      75
68100.0      61
21500.0      60
11000.0      51
43500.0      49
16500.0      47
62700.0      43
42000.0      40
65400.0      40
20500.0      33
33999.9      30
16125.0      28
15750.0      25
24000.0      24
31500.0      23
12500.0      22
10250.0      13
38500.2      13
57000.5      12
49500.0      11
10000.0      11
21750.0      10
10500.0       9
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'termdays.perf'
Unique value counts:
termdays.perf
30    12943
60     2458
15     2398
90      384
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

Column: 'good_bad_flag'
Unique value counts:
good_bad_flag
Good    14815
Bad      3368
Name: count, dtype: int64

Placeholders:
[]
Count of placeholders: 0

* The data does not have placeholders and there is consistency in the columns